/* 2 */
.warn {
  color: red;
}
/* 3 */
.focused {
  border: 2px solid red;
}

/* 4 */
.active {
  background-color: greenyellow;
}

/* 5 */

.answer {
  display: none;
}

.opened .answer {
  display: block;
}

/* 9 */
.is-read {
  color: rgb(183, 199, 206);
}
